*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}
.nav li a{
    color: white;
}
/* #topnav1:hover{
    color: white;
    background-color: rgba(85, 95, 100, 0.801);
} */

a{
    color: aliceblue;
    text-decoration: none;
}
#adarsh{
    border-radius: 8px;
}
#meena{
    border-radius: 13px;
}
#bgimage{
    /* margin: 0; */
    background: url("images/indian-dhal.avif");
    /* height: 600px; */
    width: 100%;
    height: 90vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
#bgimage2{
    background: url("images/backgoundimage.avif");
    /* height: 600px; */
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
#bgimage2 h2{
    font-size: 60px;
}
#bgimage3{
    background: url("images/foodiesfeed.com_chickpea-coconut-curry.jpg");
    /* height: 600px; */
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn:hover{
    background-color: crimson;
    
}
#row3{
    height: 80px;
    color: white;

}
.counter-section{
    padding: 10px 0;
}
#counter p,h2{
    color: #fff;
}
#row6{
    background: url("images/banner%20image.jpg");
    /* width: 1345px; */
    height: 370px; 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}    
#explore .btn:hover{
    background-color: black;
}
#testimonials{
    padding: 80px;
}
#row8child{
    border-radius: 8px;
}
#buttonc{
    background-color:crimson;
    border-color: gold;
}
#inputc{
    border-color:crimson;
}
#nav1{
    color: white;
    font-size: large;
    margin-left: 90px;
    /* padding:8px; */
}
#e1{
    color:white;
}
.nav-item a:hover{
    color: black;
    /* border-bottom: 2px solid black; */
}
body::-webkit-scrollbar{
    width: 15px;
    background: white;
}
body::-webkit-scrollbar-track{
    background-color:white;
}
body::-webkit-scrollbar-thumb{
    background:rgb(214, 60, 60);
}
#img1{
    width: 100%;
    height: 100%;
}
#img1:hover{
    box-shadow: 3px 3px 6px 5px orange ;
}
#img2{
    width: 100%;
    height: 100%;
}
#img2:hover{
    box-shadow: 3px 3px 6px 5px orange ;
}
#navbarSupportedContent{
    font-size: large;
}
#bannercontent{
    margin-top: 100px;
    margin-left: 40px;
}
#bannercontent1{
    margin-top: 100px;
    margin-left: 40px;
    text-align: center;
}
#bannercontent1 h1{
    font-size: 70px;
}
#bgimage3 h1{
    font-size: 70px;
}
#row12demo{
    text-align: left;
    background-color: #b2b2b2;
}
#row12demo #row12democol1 button{
    background-color: #176b87;
    color: #fff;
}
#row12demo #row12democol1 textarea{
    border-radius: 7px;
}
#row12demo #row12democol2{
    background-color: #f4e0b9;
}




/* media quries start */
@media screen and ( max-width:1600px) {
    #row12demo #row12democol1 form textarea {
        width: 100%;
    }
}
@media screen and ( max-width:768px) {
    #nav1{
        width: 100%;
    } 
    #testimonials{
        padding: 40px;
    }
}
@media ( max-width:576px) {
    #nav1{
        display: block;
    }
    #row6{
        height: 40%;
    }
    #testimonials{
        padding: 40px;
    }
}
/* media quries end */
